@import "./global.scss";

.form-standard{
    padding-top: 2%;
    
}

.login-form{
    background-color: #F4F3EE;
    
}

.sign-up-button{
    margin: 2%;
    
    
}

.form-control{
    width: 70%;
    border-color: black;
}

.login-link-row{
    display: flex;
    flex-direction: row;
    
}

